<!DOCTYPE html>
<html lang="en">
  <%- include("./_header.ejs") %>
  <script>
    TABLE_ID = '<%= tableId %>';
  </script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/script.js" defer></script>
  <body>
    <div class="container text-center">
      <div id="startBtnDiv" class="d-grid gap-2 col-6 mx-auto" style="padding-top: 10px">
        <button id="startBtn" class="btn btn-success">Start</button>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <div style="font-size: 20px">Players</div>
        </div>
        <div class="col">
          <div style="font-size: 20px">Table</div>
        </div>
        <div class="col">
          <div style="font-size: 20px">Activity</div>
        </div>
      </div>
      <hr />
      <div class="row" style="padding-top: 10px">
        <!-- Players -->
        <div class="col">
          <ul class="list-group" id="players"></ul>
        </div>
        <!-- Table -->
        <div class="col">
          <h3>Pot: <span id="pot">0</span></h3>
          <h4 style="padding: 10px">Your Balance: <span id="balance">500</span></h4>
          <input type="range" class="form-range" min="1" max="500" step="5" id="raiseAmount" value="40" />
          <br />
          <button class="btn btn-primary" id="matchBtn">Match <span id="matchAmount"></span></button>
          <button class="btn btn-warning" id="raiseBtn">Raise by 40</button>
          <button class="btn btn-danger" id="foldBtn">Fold</button>
        </div>
        <!-- Activity Chat -->
        <div class="col">
          <ul class="list-group list-group-flush" id="activityChat"></ul>
        </div>
      </div>
    </div>
  </body>
</html>
